/*--Footer--*/
.footer .social-media{
    text-align: left;
    height: 40px;
    margin-bottom: 30px;
}
.footer .social-media a{
    color: #2f2f2f;
}
.footer .social-media a:hover{
    color: #c5c5c5;
}
.footer{
    color: #c5c5c5;
}
.footerUp{
    height: auto;
    background-color: #555555;
}
.footerUp .container{
    padding-top: 30px;
}
.footerUp .container h3{
    font-size: 18px;
    font-weight: bold;
}
.footerUp .container p{
    font-size: 14px;
    color: #c5c5c5;
}
.footerUp .container li{
    list-style-type:square;
    margin-bottom: 5px;
}
.footerUp .container li a{
    color: #c5c5c5;
}
.footerSiteMap{
    height: 220px;
}
.footerDown{
    height: 80px;
    background-color: #2b2b2b;
    text-align: center;
}
.footerDown p{
    font-size: 16px;
    padding-top: 34px;
}
/*--/Footer--*/